/*form*/
.form_page {

}

.form__container {
    width: 800px;
    background-color: var(--white-color);
    margin: 100px 300px;
    border-radius: 50px;
}

.form__header {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 120px;
}

.form__heading-h1 {
    color: var(--white-color);
    line-height: 4rem;
}

.form__heading-h2 {
    color: var(--black-color); 
}

.form__body {
    background-color: unset;
    border-width: 3px;
    border-image-slice: 1; 
}


.form__title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
}

.form__group {
    padding: 0 12px;
}

.form__input, .form__menubutton {
    width: 100%;
    height: 38px;
    margin-top: 10px;
    padding: 0;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid var(--border-color);
    outline: none;
}

.form__menubutton {
    margin-bottom: 20px;
}

small {
    padding-left: 5px;
    line-height: 2rem;
    color: rgb(172, 60, 23);
}

.form__controls {
    display:inline-block;
    margin:auto;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    margin-bottom: 20px;
}

.form__switch-text {
    text-decoration: none;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 500;
}

.form__switch-text:hover {
    cursor: pointer;
    font-size: 2.1rem;
    background: -webkit-linear-gradient(0deg,#e84452 0%,#6119da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form__controls-btn {
    margin-left: 16px;
    height:4rem;
    border-radius: 15px; 
    border-width: 0; 
    padding: 2px 16px;
}

.call_back-btn {
    background-color: unset;
    color:#5f9463;
}

.call_back-btn:hover {
    background-color: #ebebed;
}

